@charset "UTF-8";


/*Configurações do corpo da página*/
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/*Configurações do corpo principal da página (main)*/
main{
    background-color: gray;
    width: 250px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 40%;
    text-align: center;
    border-radius: 10px;
}
#titulo{
    position: relative;
    top: 30px;
    margin-bottom: 75px;
}
.inp{
    height: 20px;
    border-style:ridge;
}
.p{
    margin-right: 50%;
    margin-bottom: 2%;
}
#bnt{
    margin-top: 10px;
    width: 80px;
    border-radius: 2px;
}
#pag{
    position: relative;
    top: 15px;
}

/*Configurações itens do rodapé*/
footer{
    display: flex;
    margin-top: 45%;
}
#logo{
    margin: auto;
}
#ver{
    position: relative;
    right: 2%;
}