@charset "UTF-8";


/*Configurações do corpo da página*/
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

/*Configurações da barra de opções*/
#bntexit{
    background-color: lightgray;
    width: 35px;
    font-size: 16px;
    border: none;
    position: relative;
    margin-top: 1%;
    left: 92%;
}
#bntexit:hover{
    color: red;
    cursor: pointer;
}

/*Configurações do corpo principal da página(main)*/
main{
    display: flex;
    margin-left: 22%;
    margin-right: 22%;
}
h1{
    text-align: center;
    position: relative;
    top: 1px;
    margin-bottom: 20px;
    bottom: 40px;
    color: red;
}
.div{
    width: 65%;
    margin: auto;
    border: solid 1px black;
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
    background-color: whitesmoke;
}
#alt{
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-top: 50%;
    width: 60px;
    padding: 4px;
    border:none;
}
#alt:hover{
    color: red;
    cursor: pointer;
}
#link{
    text-decoration-line: none;
}
/*Configurações itens do rodapé*/
footer{
    display: flex;
    margin-top: 5%;
}
#logo{
    margin: auto;
}
#ver{
    position: relative;
    right: 2%;
}